/Ca.Skoolbo.Homesite/obj
/Skoolbo.ApiClient/bin
/Skoolbo.ApiClient/obj
/Skoolbo.RestSharpExtension/bin
/Skoolbo.RestSharpExtension/obj
/.vs
/packages
Ca.Skoolbo.Homesite/Ca.Skoolbo.Homesite.csproj.user
Ca.Skoolbo.Homesite/Images/Banners/Improvement-banner.png
Ca.Skoolbo.Homesite/Images/Banners/Just-launched-banner.png
Ca.Skoolbo.Homesite/Images/Banners/classbo.png
Ca.Skoolbo.Homesite/bin/Antlr3.Runtime.dll
Ca.Skoolbo.Homesite/bin/Antlr3.Runtime.pdb
Ca.Skoolbo.Homesite/bin/Autofac.Integration.Mvc.dll
Ca.Skoolbo.Homesite/bin/Autofac.dll
Ca.Skoolbo.Homesite/bin/AvsAn.dll
Ca.Skoolbo.Homesite/bin/Ca.Skoolbo.Homesite.dll
Ca.Skoolbo.Homesite/bin/Ca.Skoolbo.Homesite.dll.config
Ca.Skoolbo.Homesite/bin/Ca.Skoolbo.Homesite.pdb
Ca.Skoolbo.Homesite/bin/EntityFramework.SqlServer.dll
Ca.Skoolbo.Homesite/bin/EntityFramework.dll
Ca.Skoolbo.Homesite/bin/Microsoft.Azure.KeyVault.Core.dll
Ca.Skoolbo.Homesite/bin/Microsoft.Azure.KeyVault.Core.xml
Ca.Skoolbo.Homesite/bin/Microsoft.Data.Edm.dll
Ca.Skoolbo.Homesite/bin/Microsoft.Data.Edm.xml
Ca.Skoolbo.Homesite/bin/Microsoft.Data.OData.dll
Ca.Skoolbo.Homesite/bin/Microsoft.Data.OData.xml
Ca.Skoolbo.Homesite/bin/Microsoft.Data.Services.Client.dll
Ca.Skoolbo.Homesite/bin/Microsoft.Data.Services.Client.xml
Ca.Skoolbo.Homesite/bin/Microsoft.Web.Infrastructure.dll
Ca.Skoolbo.Homesite/bin/Microsoft.WindowsAzure.Storage.dll
Ca.Skoolbo.Homesite/bin/Microsoft.WindowsAzure.Storage.pdb
Ca.Skoolbo.Homesite/bin/Microsoft.WindowsAzure.Storage.xml
Ca.Skoolbo.Homesite/bin/Newtonsoft.Json.dll
Ca.Skoolbo.Homesite/bin/RestSharp.dll
Ca.Skoolbo.Homesite/bin/Skoolbo.ApiClient.dll
Ca.Skoolbo.Homesite/bin/Skoolbo.ApiClient.pdb
Ca.Skoolbo.Homesite/bin/Skoolbo.RestSharpExtension.dll
Ca.Skoolbo.Homesite/bin/Skoolbo.RestSharpExtension.pdb
Ca.Skoolbo.Homesite/bin/System.Spatial.dll
Ca.Skoolbo.Homesite/bin/System.Spatial.xml
Ca.Skoolbo.Homesite/bin/System.Web.Helpers.dll
Ca.Skoolbo.Homesite/bin/System.Web.Mvc.dll
Ca.Skoolbo.Homesite/bin/System.Web.Optimization.dll
Ca.Skoolbo.Homesite/bin/System.Web.Razor.dll
Ca.Skoolbo.Homesite/bin/System.Web.WebPages.Deployment.dll
Ca.Skoolbo.Homesite/bin/System.Web.WebPages.Razor.dll
Ca.Skoolbo.Homesite/bin/System.Web.WebPages.dll
Ca.Skoolbo.Homesite/bin/WebActivatorEx.dll
Ca.Skoolbo.Homesite/bin/WebGrease.dll
Ca.Skoolbo.Homesite/bin/Z.ExtensionMethods.dll
Ca.Skoolbo.Homesite/bin/Z.ExtensionMethods.pdb
Ca.Skoolbo.Homesite/bin/de/Microsoft.Data.Edm.resources.dll
Ca.Skoolbo.Homesite/bin/de/Microsoft.Data.OData.resources.dll
Ca.Skoolbo.Homesite/bin/de/Microsoft.Data.Services.Client.resources.dll
Ca.Skoolbo.Homesite/bin/de/System.Spatial.resources.dll
Ca.Skoolbo.Homesite/bin/es/Microsoft.Data.Edm.resources.dll
Ca.Skoolbo.Homesite/bin/es/Microsoft.Data.OData.resources.dll
Ca.Skoolbo.Homesite/bin/es/Microsoft.Data.Services.Client.resources.dll
Ca.Skoolbo.Homesite/bin/es/System.Spatial.resources.dll
Ca.Skoolbo.Homesite/bin/fr/Microsoft.Data.Edm.resources.dll
Ca.Skoolbo.Homesite/bin/fr/Microsoft.Data.OData.resources.dll
Ca.Skoolbo.Homesite/bin/fr/Microsoft.Data.Services.Client.resources.dll
Ca.Skoolbo.Homesite/bin/fr/System.Spatial.resources.dll
Ca.Skoolbo.Homesite/bin/it/Microsoft.Data.Edm.resources.dll
Ca.Skoolbo.Homesite/bin/it/Microsoft.Data.OData.resources.dll
Ca.Skoolbo.Homesite/bin/it/Microsoft.Data.Services.Client.resources.dll
Ca.Skoolbo.Homesite/bin/it/System.Spatial.resources.dll
Ca.Skoolbo.Homesite/bin/ja/Microsoft.Data.Edm.resources.dll
Ca.Skoolbo.Homesite/bin/ja/Microsoft.Data.OData.resources.dll
Ca.Skoolbo.Homesite/bin/ja/Microsoft.Data.Services.Client.resources.dll
Ca.Skoolbo.Homesite/bin/ja/System.Spatial.resources.dll
Ca.Skoolbo.Homesite/bin/ko/Microsoft.Data.Edm.resources.dll
Ca.Skoolbo.Homesite/bin/ko/Microsoft.Data.OData.resources.dll
Ca.Skoolbo.Homesite/bin/ko/Microsoft.Data.Services.Client.resources.dll
Ca.Skoolbo.Homesite/bin/ko/System.Spatial.resources.dll
Ca.Skoolbo.Homesite/bin/ru/Microsoft.Data.Edm.resources.dll
Ca.Skoolbo.Homesite/bin/ru/Microsoft.Data.OData.resources.dll
Ca.Skoolbo.Homesite/bin/ru/Microsoft.Data.Services.Client.resources.dll
Ca.Skoolbo.Homesite/bin/ru/System.Spatial.resources.dll
Ca.Skoolbo.Homesite/bin/zh-Hans/Microsoft.Data.Edm.resources.dll
Ca.Skoolbo.Homesite/bin/zh-Hans/Microsoft.Data.OData.resources.dll
Ca.Skoolbo.Homesite/bin/zh-Hans/Microsoft.Data.Services.Client.resources.dll
Ca.Skoolbo.Homesite/bin/zh-Hans/System.Spatial.resources.dll
Ca.Skoolbo.Homesite/bin/zh-Hant/Microsoft.Data.Edm.resources.dll
Ca.Skoolbo.Homesite/bin/zh-Hant/Microsoft.Data.OData.resources.dll
Ca.Skoolbo.Homesite/bin/zh-Hant/Microsoft.Data.Services.Client.resources.dll
Ca.Skoolbo.Homesite/bin/zh-Hant/System.Spatial.resources.dll
Ca.Skoolbo.Homesite/bin/ClosedXML.xml
Ca.Skoolbo.Homesite/bin/CsvHelper.Excel.xml
Ca.Skoolbo.Homesite/bin/CsvHelper.xml
Ca.Skoolbo.Homesite/bin/Humanizer.xml
/Ca.Skoolbo.Homesite/bin
/Ca.Skoolbo.Test/bin
/Ca.Skoolbo.Test/obj
