@model Skoolbo.ApiClient.Models.ZippyShinePaymentModel.ZippyLicenseModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Payment success";
    ViewBag.ActiveMenu = "Download";
}
@section styles
{
    @*<link href="~/Content/custom/download.css?v=3" rel="stylesheet" />*@
}

<div class="">
    @if (Model != null)
    {
        <br />
       
        <br />
        <div class="col-sm-8 col-sm-offset-2">
            <div class="alert alert-success" role="alert">
                <h4>
                    <strong>Payment successful!</strong> &nbsp; Thank you for your purchase.
                </h4>
                <br />
                <h4>Your license key is:</h4>

                <div class="row">

                    <div class="col-md-6 col-md-offset-3 ">
                        <div class="text-bold text-center" style="font-size: 16px; background-color: white; color: black; border:1px dashed black; padding: 10px; ">
                            @Model.Key
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <h4>
                    An email confirmation has been sent to <a href="mailto:@(Model.Email)">@Model.Email</a>.
                </h4>
            </div>
            <div class="text-right">
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Back to Home Page</a>
            </div>
        </div>
        <div class="clearfix"></div>
        <br />
        <br />
        <br />
        <br />
    }
    else
    {

    }


</div>