@{
    ViewBag.Title = "About";
    ViewBag.ActiveMenu = "About";
}
@section styles
{
    <link href="~/Scripts/extension/acornmediaplayer/acornmediaplayer.base.css" rel="stylesheet" />
    <link href="~/Scripts/extension/acornmediaplayer/themes/darkglass/acorn.darkglass.css" rel="stylesheet" />
    <link href="~/Content/custom/about.css" rel="stylesheet" />
    <link href="~/Content/custom/home.css?v=1" rel="stylesheet" />
}
@section scripts
{

    <script src="~/Scripts/iframeResizer.js"></script>
    <script src="~/Scripts/extension/acornmediaplayer/jquery.acornmediaplayer.js"></script>
    <script src="~/Scripts/extension/acornmediaplayer/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="~/Scripts/extension/acornmediaplayer/modernizr.custom.js"></script>
    <script src="~/Scripts/custom/home.js"></script>
    <script>

        jQuery('#home-video').acornMediaPlayer({
            theme: 'darkglass',
            volumeSlider: 'vertical'
        });
    </script>
}
<div class="row clear-margin">
    <div class="col-lg-10 center-block clear-float brochure-bg">
        <img src="~/Images/About/our_dream-tiny.jpg" class="img-responsive center-block"/>
        <h3>About Skoolbo</h3>
        <p>
            Skoolbo is a team of educators and developers spanning the globe that is committed to creating accessible learning solutions for both developed and developing countries. Skoolbo’s dream is that every child learns to read and gains confidence with numbers. We have offices in Los Angeles, London, Canberra, and Singapore.
        </p>
        <p>Skoolbo is operated by <em>Skoolbo Limited </em>based in CA and is a wholly owned subsidiary of <em>Skoolbo Pte Ltd</em>, a privately owned company registered in Singapore.</p>
    </div>
</div>
<div class="row clear-margin">
    <div class="col-lg-10 center-block clear-float brochure-bg">
        <h3 class="text-center">Key Benefits</h3>
        <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled benefits">
                    <li>
                        <strong>Engaged students</strong>- The excitement shown by students using Skoolbo is infectious. Children absolutely love it!
                    </li>
                    <li>
                        <strong>Highly individualized curriculum</strong>– Skoolbo’s Spiral Learning Algorithm ensures every student is always receiving the right level of difficulty with the appropriate balance of new and revision content. Teachers may also set particular activities for the child or the class.
                    </li>
                    <li>
                        <strong>Immediate feedback and support</strong>– Children instantly know if they are on the right track and support is given to them precisely at the most teachable moments.
                    </li>
                    <li>
                        <strong>High volume and fast paced</strong>–  Efficient learning with students typically making more than 200 responses in a fifteen minute period.
                    </li>
                    <li>
                        <strong>Rewards and recognition</strong>– The reward mechanisms are designed to promote optimal learning patterns.
                    </li>
                    <li>
                        <strong>Comprehensive</strong>– More than 60,000 questions for 4 to 12 year olds.
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled benefits">

                    <li>
                        <strong>Highly meaningful reporting for teachers and parents</strong>– In addition to extensive reports, teachers and parents will also have the opportunity to receive emails and alerts notifying them of important developments in students' achievement.
                    </li>
                    <li>
                        <strong>Play with family and friends</strong>- Parents and grandparents may download the Fan Club app to play with the child. (COMING SOON)
                    </li>
                    <li>
                        <strong>Independent learners</strong>– Skoolbo works perfectly in a classroom situation with even the youngest learners. Simple sign in for young children!
                    </li>
                    <li>
                        <strong>Data Driven</strong>– All aspects of Skoolbo are continually monitored and refined to maximize learning.
                    </li>
                    <li>
                        <strong>Fully cross-platform</strong>– Skoolbo is available on PC, Mac, iPad, Win 8, Android and web browser.
                    </li>
                    <li>
                        <strong>Offline mode</strong>– Skoolbo can work offline and sync data once an internet connection is found.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive" src="/Images/about/benefits.png">
            </div>
        </div>
    </div>
</div>
<div class="row clear-margin">
    <div class="col-lg-10 center-block clear-float brochure-bg">
        <h2 class="text-center">Great Tools to Assist Differentiated Learning!</h2>
        <br />
        <div class="col-md-10 center-block clear-float">
            <img class="img-responsive" src="/Images/about/learning.png">
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 about-spiral">
                <h2 align="center">Skoolbo Spiral Learning Algorithm</h2>
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-responsive" src="/Images/about/spiral.png">
                    </div>
                    <div class="col-md-6">
                        <p>The Skoolbo Spiral Learning Algorithm is designed to give every child the optimal curriculum regardless of his or her actual age. It starts by pre-testing the child in both literacy and numeracy and then continues to reassess after each game. An ideal blend of new content; not yet mastered content; and revision content is served to each child.</p>
                        <p>Many teachers have indicated that this inbuilt differentiation is one of the strongest features of Skoolbo.</p>
                        <p>Teachers also have the ability to customize the program and set specific curricula for their students.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


