
@{
    ViewBag.Title = "Ambassador";
    ViewBag.ActiveMenu = "Ambassador";
}

<div class="row clear-margin">
    <div class="col-lg-10 center-block clear-float brochure-bg">
        <h2 align="center">Ambassadors</h2>
        <br>
        <p>We are deeply honoured to have <strong>Manny Pacquiao</strong>, Filipino boxer and politician, join us on our dream of ensuring every child learns to read and gains confidence with numbers</p>
        <p>Manny is a true legend and is an inspiration to hundreds of millions of people around world. Manny will be taking on the children to see if they can beat him in the Skoolbo game answering reading, maths and learning languages!</p>
        <p>Click <a target="_blank" href="http://blog.skoolbo.ph/index.php/2015/09/15/manny-pacquiao-joins-the-skoolbo-dream/">here</a> to read more
        </p>
        <div class="text-center">
            <img width="500" class="img-responsive margin-auto" src="~/Images/Ambassador/Manny-post.png" />
        </div>
        <br />
        <div class="row">
            <div class="col-lg-10 col-md-offset-1">
                <div class="text-center">
                    <iframe style="max-width: 100%;" width="492" height="315" frameborder="0" allowfullscreen="allowfullscreen" scrolling="no" src="https://skoolbo.eduvision.tv/EmbedPlayer.aspx?qev=CT1wecDsedB0qmMkT67rrTQQOCUTjbhawAKZHwCFOrFrTFG5jjXKIaUOy%252bUQtkQRW9qnFicC1ljb%252b9CIbmFXTQ4n3GSgJ9rkoLqypFOkdbHBfpAOYXJnkHrM%252b48mGzegd8kGGwmQcauAwKeGMyXKVA%253d%253d" id="ivideoframe"></iframe>
                </div>
            </div>
        </div>
        <br />
        <br />
    </div>
</div>
@section styles
{
    <link href="~/Content/custom/about.css" rel="stylesheet" />
}
