@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Brain Breaks - Skoolbo CA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="P3P" content="CP=&quot;IDC DSP COR CURa ADMa  OUR IND PHY ONL COM STA&quot;">
    <meta name="keywords" content="Cricket, Learning, Learn, Reading, Literacy, Numeracy, Maths, Mathematics, eLearning, learning game, language, languages, Brain Breaks">
    <meta http-equiv="P3P" content="CP=&quot;IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT&quot;">

    <link rel="canonical" href="@Request.Url.AbsoluteUri" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Brain Breaks - Skoolbo CA" />
    <meta property="og:url" content="http://www.skoolbo.ca/brainbreaks" />
    <meta property="og:site_name" content="Brain Breaks" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Brain Breaks" />

    <base href="@Request.Url.AbsoluteUri" />

    <link rel="icon" type="image/ico" href="~/Images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap.custom.css">
    <link href="~/Content/ace/css/ace-fonts.min.css" rel="stylesheet">
    <link id="main-ace-style" rel="stylesheet" href="~/Content/ace/css/ace.min.css" class="ace-main-stylesheet">


    <!--if lte IE 9link.ace-main-stylesheet(rel='stylesheet', href='~/Content/ace/css/ace-part2.min.css')
    -->
    <link rel="stylesheet" href="~/Content/ace/css/ace-skins.min.css">
    <link rel="stylesheet" href="~/Content/ace/css/ace-rtl.min.css">
    <link rel="stylesheet" href="//amp.azure.net/libs/amp/latest/skins/amp-default/azuremediaplayer.min.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/custom/brain-breaks.css?v=2">
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 wr-brainbreaks content">
                <div class="row"><img style="margin-top: -15px" src="~/Images/brainbreaks/brainBreaks_banner_01.jpg" alt="Skoolbo Brain Brakes" class="im-responsive"></div>
                <div class="space-10"> </div>
                <p>Skoolbo Brain Breaks includes 20 great songs for students to dance along to in class. Teachers simply beam them up on a data projector, interactive whiteboard or a TV. They are a two-minute burst of activity between lessons. Skoolbo Brain Breaks are ideal for ages 5 to 8.</p>
                <div class="row show-destop">
                    <div class="col-md-5 pull-right col-md-offset-right-1">
                        <div class="space-10"></div><a href="javascript:void(0)" class="show-video"><img src="~/Images/brainbreaks/VideoBrainBreaks.png" alt="Skoolbo Brain Brakes" class="im-responsive video-brain-breaks"></a>
                    </div>
                    <div class="col-md-5 col-md-offset-1 pull-left">
                        <div class="space-10">         </div>
                        <h4 class="margin-top-0"><strong> Key Pedagogies</strong></h4>
                        <ul style="list-style-type: disc">
                            <li>Encourages singing, dancing and drama</li>
                            <li>Develops gross motor skills</li>
                            <li>Promotes vocabulary and imagination</li>
                            <li>Builds memory and articulation</li>
                            <li>Makes kids active</li>
                            <li>Wonderful class bonding and lots of smiles</li>
                            <li>A fun break between lessons!    </li>
                        </ul>
                    </div>
                </div>
                <div class="space-10">       </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="margin-top-0"><strong>Song List - a mixture of old classics and some catchy new tunes!</strong></h4>
                        <p><i>Ants go Marching, Banana Bopalop, Buzzy Buzzy Bee, Carrot Cha Cha Cha, Caterpillar Crawl, Cowgirl Karen Kitten, Dalmatian Dots, Dig Like a Pig, Donkey Dance Party, Flap Like a Bat, Goblin Grin, Head Shoulders Knees and Toes, Hokey Cokey, I'm a Cuckoo, Old MacDonald, Ooky Kooky Spooky, She'll be Coming Round the Mountain, Skunktastic, Swanning Around and Two Can Toucan</i></p>
                        <h4 class="margin-top-0"><strong>Price</strong></h4>
                        <div class="col-md-12 padding-0">
                            <div class="col-md-10 padding-left-0">
                                Permanent class use licence for $25. Able to be installed once on a PC or Mac. No need for internet connection in classroom!
                            </div>
                            <div class="col-md-2">
                                <form method="post" enctype="multipart/form-data" action="https://shop.skoolbo.com/ca/checkout/" class="cart">
                                    <input step="1" min="1" max="" name="quantity" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" type="hidden" class="input-text qty text">
                                    <input name="add-to-cart" value="601" type="hidden">
                                    <input name="add-to-cart-refer" value="Web" type="hidden">
                                    <input type="image" src="~/Images/brainbreaks/buyNow_btn.png" class="buyNow-btn" alt="Buy Brain Brakes now">
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h4 class="margin-top-10"><strong>The Team Behind Skoolbo Brain Breaks</strong></h4>
                        <p>Melissa Georgiou leads a team of super-talented singers and performers from across the world. The team has more than 50 years of combined experience in teaching singing and dancing to young children. We are passionate about children being active and developing their singing and dancing skills.</p>
                    </div>
                </div>
                <div class="space-10">     </div>
                <div class="row">
                    <div class="col-md-5"><img src="~/Images/brainbreaks/cast_fridayWorld_03.png" alt="Skoolbo Brain Brakes" class="im-responsive"></div>
                    <div class="col-md-7">
                        <h3 class="margin-top-0"><strong>The Performers!</strong></h3>
                        <h5 style="margin-top: -3px">Our team of performers have come from across the globe!</h5>
                        <div class="col-md-12 padding-left-0">
                            <div class="col-md-5 padding-left-0 padding-right-0">
                                <ul class="list-country">
                                    <li><img src="~/Images/brainbreaks/flag_uk.png" alt="Brain Brakes" class="margin-right-10"><strong>Verity </strong>- London</li>
                                    <li><img src="~/Images/brainbreaks/flag_australia.png" alt="Brain Brakes" class="margin-right-10"><strong>Chrissy </strong>- Sydney</li>
                                    <li><img src="~/Images/brainbreaks/flag_singapore.png" alt="Brain Brakes" class="margin-right-10"><strong>Michelle </strong>- Singapore</li>
                                    <li><img src="~/Images/brainbreaks/flag_australia.png" alt="Brain Brakes" class="margin-right-10"><strong>Jemma </strong>- Perth</li>
                                    <li><img src="~/Images/brainbreaks/flag_united_states.png" alt="Brain Brakes" class="margin-right-10"><strong>Austin </strong>- Los Angeles</li>
                                    <li><img src="~/Images/brainbreaks/flag_united_states.png" alt="Brain Brakes" class="margin-right-10"><strong>Shane </strong>- Los Angeles</li>
                                    <li><img src="~/Images/brainbreaks/flag_uk.png" alt="Brain Brakes" class="margin-right-10"><strong>Omar </strong>- London</li>
                                </ul>
                            </div>
                            <div class="col-md-7"><img src="~/Images/brainbreaks/VerityQuote_SpeechBubble.png" class="verity-quote-image" alt="Brain Brakes" ></div>
                        </div>
                    </div>
                </div>
                <div class="space-10"> </div>
                <div class="row block-human">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="~/Images/brainbreaks/melissa.png" alt="Skoolbo Brain Brakes">
                            <div class="caption">
                                <h3><strong>Melissa Georgiou - Director</strong></h3>
                                <p class="text-justify">Melissa splits her time between US and Australia. She has been teaching children performing arts for more than two decades. Melissa has an extensive list of acting and directing credits, including Royal Shakespeare and Women of Manhattan.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="~/Images/brainbreaks/jonathan.png" alt="Skoolbo Brain Brakes">
                            <div class="caption">
                                <h3><strong>Jonathan Geraghty - Adviser</strong></h3>
                                <p class="text-justify">Jonathan has been the Director of the Australian children’s musical group Hi-5 for the last ten years. Prior to that he directed well known tv dramas such as Home & Away and Neighbours. Jonathan believes early childhood education is a fundamental determinant of a child's future.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="~/Images/brainbreaks/shane.png" alt="Skoolbo Brain Brakes">
                            <div class="caption">
                                <h3><strong>Shane Hill - Producer</strong></h3>
                                <p class="text-justify">Shane was a teacher for eleven years prior to founding 3P Learning (Mathletics) in 2003 and then Skoolbo in 2010. Shane is deeply committed to making great learning opportunities available to all children. In 2013 Shane was awarded the global corporate social responsibility award for his impact on education.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="myVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade">
            <div role="document" class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body padding-0">
                        <button type="button" data-dismiss="modal" aria-label="Close" style="position:absolute;right:-14px;top:-14px; -ms-opacity:1; opacity:1;z-index:2000;" class="close"><img src="~/Images/brainbreaks/close-button.png" alt="close vide Brain Brakes" ></button>
                        <video id="azuremediaplayer" class="azuremediaplayer amp-default-skin amp-big-play-centered"></video>
                    </div>
                </div>
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="//amp.azure.net/libs/amp/latest/azuremediaplayer.min.js"></script>
        <script src="~/Scripts/custom/brain-breaks.js?v=2"></script>
    </div>
</body>
</html>