@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Safety Policy";
}

@section styles{
    <link href="~/Content/custom/safety.css" rel="stylesheet" />
}
<div class="col-lg-12 margin-top-10">
    <h2 class="text-center">Skoolbo Canada Child Safety Policy</h2>
    <h5 class="text-center"><i>Policy effective 1st January 2016</i></h5>
    <p>Children’s online safety is paramount at Skoolbo. Skoolbo strives to create a fully safe environment where children can have fun learning with their friends and other children from across Canada and the world.</p>
    <p>The Skoolbo Canada Child Safety Policy sets out how Skoolbo Pty Ltd ("Skoolbo") protects the online safety of children who use www.skoolbo.co.uk and associated apps. Collectively the Skoolbo website and applications are referred to as "the Skoolbo Services" . The Skoolbo Canada Child Safety Policy should be read in conjunction with the Skoolbo Canada Terms and Conditions; and the Skoolbo Canada Privacy Policy; which together form the full terms and conditions of Skoolbo’s agreement with the User.</p>
    <p>From time to time Skoolbo may modify the Skoolbo Canada Child Safety Policy. School Administrators, Teachers and Parents will be notified of any updated policy and the most current version may be found at <a href="@Url.Action("ChildSafetyPolicy", "Home", null, "http")">www.skoolbo.ca/safety</a>. </p>
    <ol class="safety-list">
        <li>
            <b> No Free Form Communication Between Children</b>
            <ul>
                <li>Skoolbo does not allow children to send or receive any free form information to other users.</li>
                <li>It is impossible for the Child to communicate or receive inappropriate details such as contact information.</li>
                <li>There is no possibility of inappropriate messaging between children.</li>
                <li>It is impossible for the Child to conduct or be subjected to online bullying via the Skoolbo Services.</li>

            </ul>
        </li>
        <li>
            <b> Leaderboards and Newsfeeds</b>
            <ul>
                <li>The Leaderboards and Newsfeeds are a way of recognising wonderful performances of students. They help foster a community where learning is highly valued.</li>
                <li>The Child’s first name (or pseudonym); the Child’s school and region/territory; Significant improvement or mastery results; and the Child’s overall score (both Team and Individual) may be shown on a Leaderboard or Newsfeed.</li>
            </ul>
        </li>
        <li>
            <b>Multiplayer Games</b>
            <ul>
                <li>An important part of the Skoolbo Services is multiplayer games. This is where the Child plays with other children on the Skoolbo services. The Child may or may not know his/her opponent.</li>
                <li>Multiplayer games share with the other player information such as the Child’s first name; the Child’s country; the Child’s digital avatar; the Child’s result from the current game.</li>
                <li>Most multiplayer games played will be asynchronous. This means that the player (a child) is playing will have played that game at an earlier point in time. The results achieved by the opposing player are precisely what they achieved when playing the game.</li>
            </ul>
        </li>
        <li>
            <b>No Advertising to Children</b>
            <ul>
                <li>The Skoolbo Services do not send any marketing materials to the Child.</li>
                <li>There are no third party banner advertisements within the Skoolbo Services.</li>
                <li>There are no in-game promotions.</li>
                <li>Supporters and Partners of Skoolbo are recognised in a simple, discreet manner on the Skoolbo website.</li>

            </ul>
        </li>
        <li>
            <b>Safe Use Guidelines</b>
            <ul>
                <li>Skoolbo recommends the Child uses the Skoolbo Services four to five times a week for 20 minutes. A child should not play more than two hours on any day.</li>
                <li>Skoolbo recommends that the Parent monitors the Child’s use of the Skoolbo Services.</li>

            </ul>
        </li>
    </ol>
    <p>
        <b>For further information please contact Skoolbo at:</b>
        <br/>
        Skoolbo Canada Limited
        <br/>
        <a href="mailto:info@learnattax.com">info@learnattax.com</a>
        <br/>
        Phone: 020 8133 5253
    </p>
</div>