@using Ca.Skoolbo.Homesite.Helpers.Configs
@{
    ViewBag.Title = "Contact";
    ViewBag.ActiveMenu = "Contact";
}
@section styles
{
    <link href="~/Content/custom/contact.css" rel="stylesheet" />
}
<div class="col-lg-12 margin-top-10">
    <h1 class="text-center text-bold">Contact </h1>
    <h4 class="text-center">
        <strong>
            Skoolbo CA<br />
            The Creatagon<br />
            Unit 1, Orient Goldcrest<br />
            Laguna Technopark, Building 2<br />
            Santa Rosa City<br />
            Laguna, 4026<br />
        </strong>
    </h4>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 brochure-bg contact-top">
            <div class="clear-float col-lg-7 center-block">
                <h2>
                    <a class="block-overflow" href="https://www.facebook.com/SkoolboCA" target="_bank"> <img src="~/Images/Contact/facebook.png">&nbsp;facebook.com/SkoolboCA</a>
                </h2>
                <h2>
                    <a class="block-overflow" href='@("https://twitter.com/@SkoolboCA")' target="_bank"> <img src="~/Images/Contact/twitter.png">&nbsp;@@SkoolboCA</a>
                </h2>
                <h2>
                    <a class="block-overflow" href="mailto:@(WebConfigHelper.EmailInfo)"> <img src="~/Images/Contact/email.jpg"> @(WebConfigHelper.EmailInfo)</a>
                </h2>
                <h2>
                    <a class="block-overflow" href="tel:@(WebConfigHelper.PhoneNumber)"> <img src="~/Images/phone.png"> @(WebConfigHelper.PhoneNumber)</a>
                </h2>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3 brochure-bg contact-top">
            <div class="row">
                <div class="col-md-12">
                    <h3><a href="http://www.skoolbo.com.au" target="_blank"><strong>AUSTRALIA</strong></a></h3>
                    <p>
                        Skoolbo Australia Pty Ltd<br>Unit 2, 420 Elizabeth Street<br>SURRY HILLS NSW 2010<br>AUSTRALIA
                    </p>
                    <br><br><br>
                </div>
            </div>
            <div class="row contact-info">
                <div class="col-md-2">
                    <a href="http://www.skoolbo.com.au" target="_blank"><img src="~/Images/Contact/website.png" class="img-responsive"></a>
                </div>
                <div class="col-md-10">
                    <a href="http://www.skoolbo.com.au" target="_blank">http://www.skoolbo.com.au</a>
                </div>
            </div>
            <div class="row contact-info">
                <div class="col-md-2">
                    <a href="mailto:info@skoolbo.com.au"><img src="~/Images/Contact/email.png" class="img-responsive"></a>
                </div>
                <div class="col-md-10">
                    <a href="mailto:info@skoolbo.com.au">info@skoolbo.com.au</a>
                </div>
            </div>
            <div class="row contact-info">
                <div class="col-md-2">
                    <img src="~/Images/Contact/phone.png" class="img-responsive">
                </div>
                <div class="col-md-8">+61 2 8065 3179</div>
            </div>
        </div>
        <div class="col-md-3 brochure-bg contact-top">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        <a href="http://www.skoolbo.co.nz" target="_blank"><strong>NEW ZEALAND</strong></a>
                    </h3>
                    <p>
                        Skoolbo NZ LTD<br>75J Porana Rd<br>Glenfield, Auckland 0627<br>NEW ZEALAND
                    </p><br><br><br>
                </div>
            </div>
            <div class="row contact-info">
                <div class="col-md-2">
                    <a href="http://www.skoolbo.co.nz" target="_blank"><img src="~/Images/Contact/website.png" class="img-responsive"></a>
                </div>
                <div class="col-md-10">
                    <a href="http://www.skoolbo.co.nz" target="_blank">http://www.skoolbo.co.nz</a>
                </div>
            </div>
            <div class="row contact-info">
                <div class="col-md-2">
                    <a href="mailto:info@skoolbo.co.nz"><img src="~/Images/Contact/email.png" class="img-responsive"></a>
                </div>
                <div class="col-md-10">
                    <a href="mailto:info@skoolbo.co.nz">info@skoolbo.co.nz</a>
                </div>
            </div>
            <div class="row contact-info">
                <div class="col-md-2">
                    <img src="~/Images/Contact/phone.png" class="img-responsive">
                </div>
                <div class="col-md-10">+64 9 443 4750</div>
            </div>
        </div>
        <div class="col-md-3 brochure-bg contact-top">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        <a href="http://smartestsingapore.com" target="_blank"><strong>SINGAPORE</strong></a>
                    </h3>
                    <p>
                        Skoolbo Pte Ltd<br>Block 71 Ayer Rajah Cres
                        #07-08<br>Singapore 139951<br>SINGAPORE
                    </p><br><br><br>
                </div>
            </div>
            <div class="row contact-info">
                <div class="col-md-2">
                    <a href="http://www.smartestsingapore.com" target="_blank"><img src="~/Images/Contact/website.png" class="img-responsive"></a>
                </div>
                <div class="col-md-8">
                    <a href="http://www.smartestsingapore.com" target="_blank">http://www.smartestsingapore.com</a>
                </div>
            </div>
            <div class="row contact-info">
                <div class="col-md-2">
                    <a href="mailto:info@smartestsingapore.com"><img src="~/Images/Contact/email.png" class="img-responsive"></a>
                </div>
                <div class="col-md-10">
                    <a href="mailto:info@smartestsingapore.com">info@smartestsingapore.com</a>
                </div>
            </div>
            <div class="row contact-info">
                <div class="col-md-2">
                    <img src="~/Images/Contact/phone.png" class="img-responsive">
                </div>
                <div class="col-md-10">+65 6777 8014</div>
            </div>
        </div>
        <div class="col-md-3 brochure-bg contact-top">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        <a href="http://www.skoolbo.co.uk" target="_blank"><strong>UNITED KINGDOM</strong></a>
                    </h3>
                    <p>
                        Skoolbo UK Limited<br>Unit 23, The IO Centre, Armstrong Road,<br>Royal Arsenal, London, SE18 6RS<br>UNITED KINGDOM
                    </p><br><br>
                </div>
            </div>
            <div class="row contact-info">
                <div class="col-md-2">
                    <a href="http://www.skoolbo.co.uk" target="_blank"><img src="~/Images/Contact/website.png" class="img-responsive"></a>
                </div>
                <div class="col-md-10">
                    <a href="http://www.skoolbo.co.uk" target="_blank">http://www.skoolbo.co.uk</a>
                </div>
            </div>
            <div class="row contact-info">
                <div class="col-md-2">
                    <a href="mailto:info@skoolbo.co.uk"><img src="~/Images/Contact/email.png" class="img-responsive"></a>
                </div>
                <div class="col-md-10">
                    <a href="mailto:info@skoolbo.co.uk">info@skoolbo.co.uk</a>
                </div>
            </div>
            <div class="row contact-info">
                <div class="col-md-2">
                    <img src="~/Images/Contact/phone.png" class="img-responsive">
                </div>
                <div class="col-md-10">+44 20 8133 5253</div>
            </div>
        </div>
    </div>
</div>
