@using Ca.Skoolbo.Homesite.Helpers.Configs
@{
    ViewBag.Title = "Contest";
    ViewBag.ActiveMenu = "Contest";
}

<div class="">
    <div class="col-md-10 col-md-offset-1">
        <div style="background: #fff;">
            <div class="col-sm-12 clear-padding background-white border-bottom">
                <div class="col-sm-4 clear-padding register-win">
                    <img src="/Images/Manny-post.jpg" class="img-responsive img-custom">
                </div>
                <div class="col-sm-8 text-left padding-30">
                    <h3 style="color: #493298;" class=" text-center">
                        Sign up for <strong>FREE</strong> access to Skoolbo and you'll go into the draw to WIN a signed Manny Pacquiao glove!
                    </h3>
                    <div class="clearfix"></div>
                    <div class="margin-top-20">
                        <div class="form-group col-sm-12 text-center custom-btn-register">
                            <a href="@(WebConfigHelper.DashboardLink + WebConfigHelper.RegisterUrl)">
                                <img class="img-responsive center-block" src="/Images/Register-button.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="background-white col-sm-12 margin-top-20">
                <h3 class="text-bold  text-center">
                    WORLD'S LARGEST EDUCATIONAL GAME!
                </h3>
                <div class="col-sm-4 clear-padding">
                    <img src="/Images/sample-left-edit.png" class="img-responsive clear-float center-block image-pull-left-web">
                </div>
                <div class="col-sm-4 text-center padding-top-20">
                    <h4>Reading and Maths multiplayer games!</h4>
                    <h4>Custom avatars and awesome 3D game worlds!</h4>
                    <h4>Tagalog and English languages!</h4>
                </div>
                <div class="col-sm-4 clear-padding">
                    <br>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="https://player.vimeo.com/video/130424819" class="embed-responsive-item"></iframe>
                    </div>
                    <br>
                </div>
            </div>
            <div class="background-white col-sm-12">
                <h3 class="text-bold text-center">
                    All NEW and super FUN way to improve your skills
                </h3>
                <br>
                <br>
            </div>
        </div>

    </div>
    <div class="col-md-10 col-md-offset-1 text-size-16 margin-top-20">
        <div class="clearfix"></div>
        <div class="border-bottom"></div>
        <br />
        <br />
        <h3 class="text-center">
            <strong>Manny Pacquiao Glove Raffle Mechanics & Guidelines:</strong>
        </h3>
        <br/>
        <p>1) Promo is open to all Philippine residents only.</p>
        <p>2) Promo runs until January 31, 2016 at 11:59pm.</p>
        <p>3) Every action entitles the person to join the raffle. More action means more chances of winning. They are as follows:</p>
        <ul>
            <li><strong>LIKED</strong> the <a target="_blank" href="https://www.facebook.com/SkoolboPH">SkoolboPH Facebook Page</a></li>
            <li><strong>LIKED</strong> the SkoolboPH Facebook Raffle Post</li>
            <li><strong>SHARED</strong> the SkoolboPH Facebook Raffle Post</li>
            <li><strong>REGISTERED</strong> to SkoolboPH App</li>
            <li><strong>ANSWERED</strong> 1,000 questions on SkoolboPH App</li>
            <li><strong>VISITED</strong> & <strong>SIGNED</strong> at the Skoolbo-Vibal Stall (356-365) at the 36th Manila International Bookfair (MIBF) between Sep 16 - 20.</li>
            <li><strong>PLAYED</strong> the Pacquiao-Skoolbo Trading Card at MIBF</li>
            <li><strong>Followed</strong> the <a href="https://instagram.com/skoolboph" target="_blank">SkoolboPH Instagram Account</a></li>
            <li><strong>Followed</strong> the <a href="https://twitter.com/SkoolboPH" target="_blank">SkoolboPH Twitter Account</a></li>
            <li><strong>Subscribed</strong> to the <a href="https://www.youtube.com/c/SkoolboPhilippines" target="_blank">SkoolboPH YouTube Account</a></li>
        </ul>
        <p>4) Winner will be determined on February 01, 2016. Should there be any unforeseen events on the scheduled raffle draw date, the draw will resume on the next day.</p>
        <p>5) Winner will be announced on the Official SkoolboPH Website and Facebook Page immediately.</p>
        <p>6) The winner will be contacted by a SkoolboPH Representative for further instructions on how to claim the prize.</p>
        <p>7) The winner is expected to bring all of the following upon claiming of their prize:</p>
        <ul>
            <li>Valid ID with photo</li>
            <li>Printout of SkoolboPH Representative confirmation email or personal message on Facebook</li>
        </ul>
        <p>8) SkoolboPH serves the right to use all photos of the winner that are relevant to the promo as marketing material for the Skoolbo website and social media pages.</p>
        <p>9) For more inquiries about the promo, email vaish.saulo@skoolbo.ph with the subject header “Manny Pacquiao Glove Raffle Inquiry”.</p>
        <p>10) This promotion is in no way sponsored, endorsed or administered by, or associated with, Facebook.</p>

    </div>
</div>
@section styles
{
    <link href="~/Content/custom/contest.css" rel="stylesheet" />
}
