@{
    ViewBag.Title = "Creatagon";
    ViewBag.ActiveMenu = "Creatagon";
}

<div class="row clear-margin">
    <div class="col-lg-10 center-block clear-float brochure-bg">
        <div class="row">
            <div class="col-lg-6 col-md-offset-3">
                <img class="img-responsive margin-auto" src="~/Images/Creatagon/CreatagonLogo.png" />
            </div>
        </div>
        <br />
        <br />
        <div>
            <img class="img-responsive margin-auto" src="~/Images/Creatagon/sample-creatagon-01.jpg" />
        </div>
        <br />
        <p>Skoolbo is delighted to welcome Schools across the Philippines to the Creatagon the ultimate school field trip experience!</p>
        <p>The Creatagon in Santa Rosa is  an amazing place where curiosity and creativity explode.</p>
        <p>The Zippy Blast game show lets children take charge and even star in the show. Find out the secrets of making TV Shows along with all the tricks and cutting edge technology from behind the scenes and more!</p>
        <p>If you are a school and interested in visiting the Creatagon then please email us at <a href="mailto:bookings@skoolbo.ph" title="bookings@skoolbo.ph">bookings@skoolbo.ph</a> so we can send you further information.</p>
        <h4 class="text-center">
            <strong>
                Skoolbo PH<br />
                The Creatagon<br />
                Unit 1, Orient Goldcrest<br />
                Laguna Technopark, Building 2<br />
                Santa Rosa City<br />
                Laguna, 4026<br />
            </strong>
        </h4>
    </div>
</div>
@section styles
{
    <link href="~/Content/custom/about.css" rel="stylesheet" />
}
