@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Faq";
    ViewBag.ActiveMenu = "Faq";
}
@section styles{
    <link href="~/Content/custom/faq.css" rel="stylesheet" />
}


<div class="col-lg-12 margin-top-10">
    <h2 class="text-center">FAQ</h2>
    <div class="panel panel-info">
        <div class="panel-heading">
            1. How do I get Skoolbo?
        </div>
        <div class="panel-body">
            Visit <a href="@Url.Action("Index", "Home")">www.skoolbo.ph</a> and enter your email and contact information. You will be emailed with information for exclusive early registration when Skoolbo PH launches.
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            2. How much does it cost?
        </div>
        <div class="panel-body">Skoolbo is FREE!</div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            3. When is it coming to the Philippines?
        </div>
        <div class="panel-body">Skoolbo PH will launch before the new school year begins in August 2015.</div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            4. What devices can I play on?
        </div>
        <div class="panel-body">Skoolbo is available on all devices, and even has a web-browser version.</div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            5. Do I need connectivity to play?
        </div>
        <div class="panel-body">Skoolbo works in online and offline mode on your device! Your game data will automatically sync as soon as a connection is established.</div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            6. Can my kids play at home?
        </div>
        <div class="panel-body">
            YES! Playing Skoolbo at home is an excellent way your kids and students to practice and build foundational skills, without feeling like they are doing homework.
        </div>
    </div>

</div>

