@using Ca.Skoolbo.Homesite.Helpers.Configs

@{
    ViewBag.Title = "Home";
}
@section scripts{
    <script>
        var webDashboard = "@WebConfigHelper.DashboardLink";
        var urlTotalAnswer = "@Url.Action("Totalizer", "Leaderboard")";
    </script>

    <script src="~/Scripts/extension/acornmediaplayer/jquery.acornmediaplayer.js"></script>
    <script src="~/Scripts/extension/acornmediaplayer/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="~/Scripts/extension/acornmediaplayer/modernizr.custom.js"></script>

    <script src="~/Scripts/extension/jquery.lazy.min.js"></script>
    <script src="~/Scripts/extension/jquery.bxslider/jquery.bxslider.min.js"></script>
    <script src="~/Scripts/extension/jquery.nicescroll.min.js"></script>
    <script src="~/Scripts/extension/jquery.countup/countUp.min.js"></script>
    <script src="~/Scripts/extension/jquery.blockUI.js"></script>
    <script src="~/Scripts/extension/jquery.countdown/jquery.countdown.min.js"></script>

    <script src="~/Scripts/custom/home.js"></script>
    <script src="~/Scripts/module/leaderboardconfig.js"></script>
    <script src="~/Scripts/module/totalizer.js"></script>
    <script src="~/Scripts/module/leaderboard.js"></script>
}
@section styles{
    <link href="~/Scripts/extension/acornmediaplayer/acornmediaplayer.base.css" rel="stylesheet" />
    <link href="~/Scripts/extension/acornmediaplayer/themes/darkglass/acorn.darkglass.css" rel="stylesheet" />
    <link href="~/Scripts/extension/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/module/widget.css" rel="stylesheet" />
    <link href="~/Content/module/leaderboard.css" rel="stylesheet" />
    <link href="~/Content/custom/home.css" rel="stylesheet" />

}

<div class="col-lg-12 margin-bottom-10 margin-top-10">
   
        Skoolbo is a great new program to help with reading and math. Children are immersed in an incredible learning world and are highly motivated by the inbuilt rewards. Parents and teachers are equipped with an array of tools to help achieve wonderful educational outcomes for their children. And best of all – it’s free!
    
</div>
<div class="col-lg-12 clear-padding">
    <div class="col-lg-8 home-banner">
        <div id="carousel-banner" class="carousel slide carousel-banner" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-banner" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-banner" data-slide-to="1"></li>
                <li data-target="#carousel-banner" data-slide-to="2"></li>
                <li data-target="#carousel-banner" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <a href="http://blog.skoolbo.com/thanks-a-billion/?utm_source=Website&utm_medium=Billion%20Answers&utm_campaign=Banner%20Traffic" title="Skoolbo" target="_bank">
                        <img src="~/Images/Home/Billion Answers.png" class="img-responsive center-block"/>
                    </a>
                </div>
                <div class="item">
                    <a href="http://blog.skoolbo.com/see-how-skoolbo-is-showing-real-results-in-improvement/?utm_source=Website&utm_medium=Improvement%20Banner&utm_campaign=Banner%20Traffic" title="Skoolbo" target="_bank">
                        <img src="~/Images/Home/White paper.png"  class="img-responsive center-block"/>
                    </a>
                </div>
                <div class="item">
                    <a href="@(WebConfigHelper.DashboardLink + WebConfigHelper.RegisterUrl)" title="Register Now">
                        <img src="~/Images/banners/banner.jpg" class="img-responsive center-block"/>
                    </a>
                </div>
              
            </div>
        </div>

    </div>
    <div class="col-lg-4 home-video">
        <div class="center-block" style="display: inline-block;">
            <a href="https://skoolbo.eduvision.tv/directplayer.aspx?q=CT1wecDsedDRFhuaRF4AzZ9jQS%252fNr2VIPtIM9BccklHv7GppWB72gr%252bJmZQlSHI%252b" target="_bank">
                <img src="~/Images/Home/video-img.png" alt="skoolbo" class="img-responsive"/>
            </a>
        </div>

    </div>
</div>

@{Html.RenderAction("GetFeed", "Home");}

<div class="col-md-12">
    @{ Html.RenderAction("Widget", "Leaderboard"); }
</div>

<div class="col-md-12 margin-top-10">
    @{ Html.RenderAction("LeaderboardMain", "Leaderboard"); }
</div>
