
@{
    ViewBag.Title = "MannyPacquiao";
}

@{
    ViewBag.Title = "Manny Pacquiao";
    ViewBag.ActiveMenu = "Contest";
}

<div class="row clear-margin">
    <div class="col-lg-10 center-block clear-float ">
        <div class="col-lg-6 bg-contest col-lg-offset-3"></div>
        <div class="clearfix"></div>
    </div>
</div>
@section styles
{
    <link href="~/Content/custom/contest.css" rel="stylesheet" />
}




