@{
    ViewBag.Title = "Partner";
    ViewBag.ActiveMenu = "Partner";
}

<div class="row clear-margin">
    <div class="col-lg-10 center-block clear-float brochure-bg">
        <h2 align="center">Partner</h2>
        <br>
        <p>Skoolbo is delighted to be in partnership with <a target="_blank" href="http://www.vibalpublishing.com/" title="Vibal Publishing Philippines">Vibal Publishing Philippines</a> number one educational publisher. Our partnership with Vibal and Manny Pacquiao means that we are delighted to bring the largest educational game in the world to the Philippines and make it 100% free for every child!</p>

        <p>Vibal since its founding in 1953 has been deeply committed to developing educational resources that ignite that love of learning. Our shared mission and commitment makes this a truly exciting partnership for the Philippines.</p>
        <br/>
        <div class="text-center">
            <a href="http://www.vibalpublishing.com/" target="_blank" title="Vibal Publishing Philippines">
                <img alt="Vibal Publishing Philippines" class="img-responsive margin-auto" src="~/Images/Partner/vibal.png?v=1" />
            </a>
        </div>
        <br />
    </div>
</div>
@section styles
{
    <link href="~/Content/custom/about.css" rel="stylesheet" />
}
