@using Ca.Skoolbo.Homesite.Helpers.Configs
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Pricing";
}
@section styles{
    <link href="~/Content/custom/pricing.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/custom/pricing.js"></script>
}

<div class="col-lg-12 text-center bottom-color header-pricing block-price">

    <h1>Skoolbo Pricing</h1>
    <h5>We want everyone to enjoy the benefits of Skoolbo!</h5>
    <h5>You don’t need to pay thousands to obtain great eLearning</h5>
</div><!-- children-->
<div class="col-lg-12 bottom-color block-price">
    <div class="col-lg-4 text-center">
        <img alt="students" src="/Images/Pricing/students.png">
    </div>
    <div class="col-lg-8">
        <h1>100% FREE for ALL children!</h1>
        <div class="col-lg-4 video-thumb width-40-fixed">
            <iframe width="220" height="140" frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="//player.vimeo.com/video/114515692"></iframe>
        </div>
        <div class="col-lg-8 width-60-fixed">
            <ul class="ul-check-list">
                <li> Fun, engaging learning</li>
                <li> Over 60,000 questions</li>
                <li> Adapts to each child’s ability</li>
                <li> Multi-player games</li>
                <li> Incredible graphics</li>
                <li> 100% safe and ad free</li>
            </ul>
        </div>
        <p>Supports multiple devices: iOS, Android, PC, Mac or Web Browser.</p>
        <p>
            To get children started,<a href="@(WebConfigHelper.RegisterUrl)">sign up</a>
            &nbsp;for a&nbsp;
            <a class="goto" href="javascript:;" id="linkParent">a
                free Parent
            </a>&nbsp;or&nbsp;<a class="goto" href="javascript:;" id="linkTeacher">Teacher account</a>
            <a class="goto" href="javascript:;" id="linkParent">
                <img alt="" src="~/Images/pricing/arrow-13.png">
            </a>
        </p>
    </div>
</div><!-- Family Licence-->
<div class="col-lg-12 bottom-color block-price">
    <div class="col-lg-4 text-center">
        <img alt="parents" src="/Images/Pricing/parents.png">
    </div>
    <div class="col-lg-8">
        <h1 id="Parent">Wonderful FREE version for Parents!</h1>
        <div class="col-lg-6">
            <ul class="ul-check-list margin-bottom-none">
                <li> Awards and certificates</li>
                <li> Play along with your children</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <ul class="ul-check-list margin-bottom-none">
                <li>Reports</li>
                <li>Involve Grandparents</li>
            </ul>
        </div>
        <div class="col-lg-12">
            <ul class="ul-check-list">
                <li>Average improvement per topic after 20 minutes : 41.3%</li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-7 width-60-fixed plus-icon plus-icon-action">
            <i></i>
            <a href="javascript:;">Inexpensive Gold license coming mid 2016</a>
        </div>
        <div class="col-lg-5 width-40-fixed">
            <a class="btn" href="@(WebConfigHelper.RegisterUrl)">Get started for FREE here</a>
        </div>
    </div>
    <div class="col-lg-12 table-licence hidden">
        <h2 class="text-bold">Family Licence</h2><table class="table-function">
            <thead>
                <tr>
                    <th width="70%" class="text-left"></th>
                    <th width="15%" class="text-center">Family Free</th>
                    <th width="15%" class="text-center">Family Gold</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="fa fa-circle"></i>K-6 reading, comprehension, spelling and grammar program</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr><td><i class="fa fa-circle"></i>K-6 math program</td><td><i class="checked"></i></td><td><i class="checked"></i></td></tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Languages program (3 languages included) - Coming Soon</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Super immersive 3D learning worlds</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Adaptive, individualized program</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Multiple devices: iOS, Android, PC, Mac or web browser</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Play with family and friends</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Rewards and leaderboards and certificates</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Special Challenge Events</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Fanclub App for parents and grandparents - Coming Soon</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Newsfeed highlighting great achievements</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Reports highlighting specific strengths and weaknesses emailed quarterly</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Unlimited instant reports</td>
                    <td></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Compare with national averages</td>
                    <td></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Real time strength and weakness analyzer</td>
                    <td></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr><td><i class="fa fa-circle"></i>Upcoming difficulty predictor</td><td></td><td><i class="checked"></i></td></tr>
                <tr>
                    <td><i class="fa fa-circle"></i>SMS alerts on major achievements or difficulties</td>
                    <td></td>
                    <td>
                        <i class="checked"></i>
                    </td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Skoolbo magazine home delivered (quarterly)</td>
                    <td></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Languages Plus (additional 23 languages)</td>
                    <td></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Parent awards to be given to children on basis of effort, behavior and healthy living</td>
                    <td></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Ability to create parent avatars to play automatically with your child &ndash; highly motivational!</td>
                    <td></td>
                    <td><i class="checked"></i></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th width="70%" class="text-left"></th>
                    <th width="15%" class="text-center"></th>
                    <th width="15%" class="text-center">Coming Mid 2015<br>$6.95/month<br><br>$49.95 annual<br>(40% saving)</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div><!-- Teachers Licence-->
<div class="col-lg-12 bottom-color block-price">
    <div class="col-lg-4 text-center">
        <img alt="teachers" src="~/Images/Pricing/teachers.png">
    </div>
    <div class="col-lg-8">
        <h1 id="Teacher">Fantastic FREE version for Teachers!</h1>
        <div class="col-lg-6">
            <ul class="ul-check-list margin-bottom-none">
                <li>Improves learning outcomes</li>
                <li>United States Syllabus aligned</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <ul class="ul-check-list margin-bottom-none">
                <li>Differentiated learning</li>
                <li>Reports</li>
            </ul>
        </div>
        <div class="col-lg-12">
            <ul class="ul-check-list">
                <li>Set specific curriculum for each child</li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-7 width-60-fixed plus-icon plus-icon-action">
            <i></i>
            <a href="javascript:;">Inexpensive Gold license coming mid 2016</a>
        </div>
        <div class="col-lg-5 width-40-fixed">
            <a class="btn" href="@(WebConfigHelper.RegisterUrl)">Get started for FREE here</a>
        </div>
    </div>
    <div class="col-lg-12 table-licence hidden">
        <h2 class="text-bold">Teacher Licence</h2><table class="table-function">
            <thead><tr><th width="70%" class="text-left"></th><th width="15%" class="text-center">Teacher Free</th><th width="15%" class="text-center">Teacher Gold</th></tr></thead>
            <tbody>
                <tr>
                    <td><i class="fa fa-circle"></i>100% access for up to 40 children</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr><td><i class="fa fa-circle"></i>K-6 reading, comprehension, spelling and grammar program</td><td><i class="checked"></i></td><td><i class="checked"></i></td></tr>
                <tr>
                    <td><i class="fa fa-circle"></i>K-6 math program</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Languages program (3 languages included) - Coming Soon</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Health and fitness activities</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Interactive whiteboard activities</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Adaptive, individualized program</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Multiple devices: iOS, Android, PC, Mac or web browser</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Full home and school use</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Rewards and Leaderboards</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr><td><i class="fa fa-circle"></i>Certificates</td><td><i class="checked"></i></td><td><i class="checked"></i></td></tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Special Challenge Events</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Fan Club to head class challenges - Coming Soon</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Dedicated teacher app</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Newsfeed highlighting great achievements</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Alerts for students in need</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Reports emailed once a quarter</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Unlimited instant reports</td>
                    <td></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Compare with national averages</td>
                    <td></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Real time strength and weakness analyzer</td>
                    <td></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr><td><i class="fa fa-circle"></i>Exportable Report Card</td><td></td><td><i class="checked"></i></td></tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Determine the unique learning patterns of each student</td>
                    <td></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr><td><i class="fa fa-circle"></i>Class grouping allocator</td><td></td><td><i class="checked"></i></td></tr>
                <tr><td><i class="fa fa-circle"></i>Curriculum and homework setting</td><td></td><td><i class="checked"></i></td></tr>
                <tr><td><i class="fa fa-circle"></i>Languages Plus (additional 23 languages)</td><td></td><td><i class="checked"></i></td></tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Teacher awards to be given to children on basis of effort, behavior and healthy living</td>
                    <td></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Ability to create teacher avatars to play automatically with your students &ndash; highly motivational!</td>
                    <td></td>
                    <td><i class="checked"></i></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th width="70%" class="text-left"></th>
                    <th width="15%" class="text-center"></th>
                    <th width="15%" class="text-center">Coming Mid 2015<br>$4.95/month<br><br>$29.95 annual<br>(50% saving)</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div><!-- School Licence-->
<div class="col-lg-12 bottom-color block-price">
    <div class="col-lg-4 text-center">
        <img alt="schools" src="~/Images/Pricing/schools.png">
    </div>
    <div class="col-lg-8">
        <h1 id="Teacher">Excellent FREE version for Schools!</h1>
        <div class="col-lg-6">
            <ul class="ul-check-list margin-bottom-none">
                <li>Aggregated results from each class</li>
                <li>Rewards and school leaderboard</li>
            </ul>
        </div>
        <div class="col-lg-6"><ul class="ul-check-list margin-bottom-none">
    <li>Quarterly reports</li>
    <li>School Challenges</li>
</ul></div>
        <div class="col-lg-12"><ul class="ul-check-list">
            <li>Dedicated School Implementation Manager</li>
        </ul></div>
        <div class="clearfix"></div>
        <div class="col-lg-7 width-60-fixed plus-icon plus-icon-action">
            <i></i><a href="javascript:;">Inexpensive Gold license coming mid 2016</a>
        </div>
        <div class="col-lg-5 width-40-fixed">
            <a class="btn" href="@(WebConfigHelper.RegisterUrl)">Get started for FREE here</a>
        </div>
    </div>
    <div class="col-lg-12 table-licence hidden">
        <h2 class="text-bold">School Licence</h2><table class="table-function">
            <thead>
                <tr>
                    <th width="70%" class="text-left"></th>
                    <th width="15%" class="text-center">School Free</th>
                    <th width="15%" class="text-center">School Gold</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="fa fa-circle"></i>Link all of your classes</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Rewards and Leaderboards</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Head to head school challenges (coming soon)</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Dedicated School Principal/Assistant Principal app - Coming Soon</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Newsfeed highlighting great achievements</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Reports emailed once a quarter</td>
                    <td><i class="checked"></i></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr><td><i class="fa fa-circle"></i>Teacher Gold for all your teachers</td><td></td><td><i class="checked"></i></td></tr>
                <tr><td><i class="fa fa-circle"></i>Unlimited instant reports</td><td></td><td><i class="checked"></i></td></tr>
                <tr><td><i class="fa fa-circle"></i>Compare with national averages</td><td></td><td><i class="checked"></i></td></tr>
                <tr><td><i class="fa fa-circle"></i>Student improvement analyzer</td><td></td><td><i class="checked"></i></td></tr>
                <tr><td><i class="fa fa-circle"></i>Class improvement analyzer</td><td></td><td><i class="checked"></i></td></tr>
                <tr><td><i class="fa fa-circle"></i>Exportable Report Card</td><td></td><td><i class="checked"></i></td></tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Determine the unique learning patterns of each student</td>
                    <td></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Intervention and monitoring</td>
                    <td></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Principal awards to be given to children on basis of effort, behavior and healthy living</td>
                    <td></td>
                    <td><i class="checked"></i></td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle"></i>Ability to create Principal avatars to play automatically with your students &ndash; highly motivational!</td>
                    <td></td>
                    <td><i class="checked"></i></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th width="70%" class="text-left">

                    </th>
                    <th width="15%" class="text-center"></th>
                    <th width="15%" class="text-center">
                        Coming Mid 2015<br>$36.95/month<br><br>$265 annual<br>(40% saving)
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>