@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Testimonials";
}


<div class="col-lg-10 center-block clear-float brochure-bg">

    <h3 class="text-center">Es todo sobre la mejora</h3>
    <p>
        Mejorar los resultados educativos es el núcleo de todo lo que hacemos aquí en Skoolbo. Es nuestra razón de ser y estamos muy apasionados sobre esta causa. Skoolbo puede verse y sentirse como un juego, pero cada componente tiene el objetivo subyacente de la maximización de la mejora de los estudiantes. Skoolbo es una empresa de aprendizaje que utiliza juegos como el medio fundamental para el aprendizaje. No es una empresa de juegos que simplemente se añade un poco de aprendizaje.
    </p>

    <h5 class="text-bold">¿Qué se dice los maestros?</h5>
    <div class="col-md-10 center-block clear-float">
        <img class="img-responsive" alt="Maestro de 5o ano en Escuela UPAP" src="/Images/improvement/Clark.jpg">
        <p class="margin-top-10 margin-bottom-10"><b>“Skoolbo ha sido una herramienta muy valiosa en mi clase. ¡Fue rápido y fácil para empezar, y los niños se diviertan tanto mucho que no se dan cuenta que están aprendiendo! ‘’</b> - Maestro de 5o año en Escuela UPAP</p>
    </div>
 
    <div class="col-md-10 center-block clear-float">
        <img class="img-responsive" alt="Estudiante en 4to grado en Escuela UPAP, ¡ganando confianza en sus habilidades y amando el aprendizaje!" src="/Images/improvement/King-Chavez.jpg">
        <h5 class="text-center">¡Ganando confianza en sus habilidades y amando el aprendizaje!</h5>
        <p class="margin-top-10 margin-bottom-10"><b>"Me encanta Skoolbo porque puedo aprender a mi proprio ritmo y no tengo que preocuparme de cómo están haciendo los otros niños. ¡Estoy mejorando mi inglés tanto que me ofrezco como voluntario para contestarpreguntas en clase!"</b> –Estudiante en 4to grado en Escuela UPAP</p>
    </div>
</div>

