.bg-contest {
    background-color: #493398;
    height: 200px;
}
.bg-contest img{ float: left;}
.bg-contest label {
    line-height: 200px;
    color: white;
}
.register-win img{ margin:auto;}
.border-bottom{ border-bottom: 0.5px solid #cccccc;}
.padding-30{ padding: 30px;}
.margin-top-20 {
    margin-top: 20px;
}