.panel-info {
    border: none;
    background: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

    .panel-info > .panel-heading {
        color: #000000;
        font-weight: bold;
        background: none;
        border: none;
        padding-bottom: 0;
    }

    .panel-info > .panel-body {
        background: none;
        padding-bottom: 5px;
    }

        .panel-info > .panel-body > a {
            color: blue;
            font-weight: bold;
        }
