 h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: "Open Sans";
}
a {
    color:#1973c1;
}
 h1, h5 {
    font-weight: bold;
}
 .header-pricing h5 {
    font-weight: normal;
}
 ul li {
    list-style: none;
}

 .ul-check-list {
    padding-left: 0;
    margin-left: 25px;
}

 .ul-check-list li {
        list-style-image: url(/Images/Pricing/checked.png);
        padding-left: 5px;
    }
.btn {
    background-image: none !important;
    border: 5px solid #fff;
    border-radius: 0;
    box-shadow: none !important;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    position: relative;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
    transition: all 0.15s ease 0s;
    vertical-align: middle;
}
.text-bold {
    font-weight: bold;
}

.page-content {
    padding-top: 0;
    font-size: 14px;
}

.margin-bottom-none {
    margin-bottom: 0;
}

.bottom-color {
    border-bottom: 1px solid #c9cacb;
    padding-top: 20px;
    padding-bottom: 20px;
}

.video-thumb {
    padding-top: 15px;
}

.download-report {
    color: #F15B29;
}

.plus-icon-action {
    font-style: italic;
    font-weight: bold;
}

.plus-icon, .minus-icon {
    padding: 10px 10px 0 8px;
    cursor: pointer;
}

    .minus-icon i, .plus-icon i {
        padding-left: 20px;
        margin-right: 10px;
        padding-top: 2px;
    }

    .plus-icon i {
        background: url(/Images/pricing/plus-new.png) left center no-repeat;
    }

    .minus-icon i {
        background: url(/Images/pricing/minus-new.png) left center no-repeat;
    }

.col-lg-12 .col-lg-6.plus-icon {
    margin-left: -12px;
}

.checked {
    padding-left: 20px;
    background: url(/Images/pricing/checked.png) left center no-repeat;
}

.btn, .btn-default, .btn:focus, .btn-default:focus {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #009347 !important;
    border-color: #009347;
    font-weight: bold;
}

    .btn:hover, .btn-default:hover, .btn:active, .btn-default:active, .open .btn.dropdown-toggle, .open .btn-default.dropdown-toggle {
        background-color: #009347 !important;
        border-color: #009347;
    }

    .btn.no-border:hover, .btn-default.no-border:hover, .btn.no-border:active, .btn-default.no-border:active {
        border-color: #009347;
    }

    .btn.no-hover:hover, .btn-default.no-hover:hover, .btn.no-hover:active, .btn-default.no-hover:active {
        background-color: #009347 !important;
    }

    .btn.active, .btn-default.active {
        background-color: #009347 !important;
        border-color: #009347;
    }

    .btn.no-border.active, .btn-default.no-border.active {
        background-color: #009347 !important;
        border-color: #009347;
    }

.table-function {
    width: 100%;
    margin: 20px 0;
}

    .table-function tr td, .table-function tr th {
        border: 1px solid #000000;
        padding: 10px 5px;
    }

    .table-function tr td {
        text-align: center;
    }

        .table-function tr td:first-child {
            text-align: left;
        }

    .table-function tbody tr td {
        border: none;
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
    }

    .table-function tr td:first-child .fa.fa-circle {
        font-size: 10px;
        margin: 0 10px;
    }

@media (max-width: 1199px) {
    .width-60-fixed {
        width: 60%;
        float: left;
    }

    .width-50-fixed {
        width: 50%;
        float: left;
    }

    .width-40-fixed {
        width: 40%;
        float: left;
    }
}

@media (max-width: 767px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (max-width: 700px) {
    .width-60-fixed {
        width: 100%;
        float: inherit;
        margin-bottom: 5px;
    }

    .width-50-fixed {
        width: 100%;
        float: inherit;
        margin-bottom: 5px;
    }

    .width-40-fixed {
        width: 100%;
        float: inherit;
        margin-bottom: 5px;
    }
}
