<?xml version="1.0"?>
<storageConnectionString>
  <add key="StorageConnectionString-Us" value="DefaultEndpointsProtocol=http;AccountName=uscoreservicediagnostics;AccountKey=sywb3QOB035pbvWDkT4c4lx7cL1+eH/1jeLxyZvi3uTwhCpCZHSkRxwbI/pFa2nRf/GarYAYfD1G4KZ2oKyxdg==;"/>

  <add key="StorageConnectionString-Uk" value="DefaultEndpointsProtocol=http;AccountName=ukcoreservicediagnostics;AccountKey=Gb2F9Ene+ew4Ey1WyDqvNPEkKffk9fYYN3aBmgOdNf40aMl31vNURfxi4FRTCVrnLW7XQZrevjA6OOuIdgmnTg==;"/>

  <add key="StorageConnectionString-Au" value="DefaultEndpointsProtocol=http;AccountName=aucoreservicediagnostics;AccountKey=6XBRZvRVgq0oGbLFyA2Vgz6/rzf46cmTB95iddVtTh7a7LnxvQg1BrkFR1wcGRrRhtb9xwZoqnoDUYM1j8JJ6w==;"/>

  <add key="StorageConnectionString-Nz" value="DefaultEndpointsProtocol=http;AccountName=nzcoreservicediagnostics;AccountKey=axt+S+on8QluPtHHFAuvxgURtYYpOWtdnod0ovIN7Q1lSoQgJFW3wtuYl06muiuWkUq7YjCLuEtaEspr85NLQA==;"/>
  <add key="StorageConnectionString-Ca" value="DefaultEndpointsProtocol=http;AccountName=cacoreservicediagnostic;AccountKey=KchPMO39ucV5v6p1r76A3N3fcfY9rY4OhBtsCVJDUQ6TVvEJIpuDhTw0SRKBCVzOCe527l5qapvpZ/SIe5N/Zw==;"/>
  <add key="StorageConnectionString-local" value="UseDevelopmentStorage=true;"/>
  
</storageConnectionString>