.clear-borderbottom {
    border-bottom: none;
}
.border-bottom-gray {
    border-bottom: 1px solid rgb(221, 221, 221);
}
.table.table-view thead tr th {
    background-color: #2370c4;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    min-height: 50px;
    height: 50px;
    vertical-align: middle;
}

.table.table-view > tbody > tr > td {
    background-color: #c9dcf4;
    min-height: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.table.table-view tr:nth-child(2n + 1) td {
    background-color: #e1e8ef;
}

.table.table-view.table-leaderboard tbody tr td.player-info img {
    width: 40px;
    margin-right: 10px;
}

.table.table-view tbody tr td.text-left {
    text-align: left;
    padding-left: 10px;
}

.table.table-view tbody tr td.text-right {
    text-align: right;
}

.table.table-view thead tr th.text-left {
    text-align: left;
    padding-left: 20px;
}

.table-scroll-container .table.table-view {
    margin-bottom: 0;
}

.table-scroll-container .table-scroll {
    overflow: hidden;
    /*height: 740px;*/
    max-height: 740px;
}

.table-scroll-container .table.table-view thead th {
    background-color: #0066ff;
}


.leaderboard-timer {
    /*float: right;*/
    /*padding-right: 10px;*/
    font-weight: bold;
    /*padding-top: 5px;*/
    line-height: 44px;
}

.table-scroll-container .tab-content {
    padding: 0;
}

.table-scroll-container .nav-tabs > li > a {
    padding: 10px 20px;
    font-size: 16px;
    color: #000000;
}

    .table-scroll-container .nav-tabs > li.active > a, .table-scroll-container .nav-tabs > li.active > a:hover, .table-scroll-container .nav-tabs > li > a:hover, .table-scroll-container .nav-tabs > li.active > a:focus {
        font-weight: bold;
        color: #fff;
        background-color: #006ab2;
    }

.blockUI.blockMsg.blockElement {
    border: none !important;
}

.count-down {
    font-weight: normal;
}

    .count-down span {
        font-size: 1.2em;
        font-weight: bold;
        padding: 0 1px;
    }

